<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AllTestSuite" verbose="1" parallel="tests" thread-count="1">

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <!--       <listener class-name="main.java.listeners.CustomListeners"/>-->
    </listeners>


    <test name="AllTest1">
        <parameter name="browser" value="chrome" />
        <classes>
<!--             <class name="test.java.testCases.SearchTourTest1" />-->
        </classes>
    </test> <!-- Test -->

    <test name="AllTest2">
        <parameter name="browser" value="chrome" />
        <classes>
<!--            <class name="test.java.testCases.SearchTourTest2" />-->
        </classes>
    </test> <!-- Test -->

    <test name="AllTest3">
        <parameter name="browser" value="chrome" />
        <classes>
<!--            <class name="test.java.testCases.SearchTourTest3" />-->
        </classes>
    </test> <!-- Test -->

    <test name="AllTest4">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="test.java.testCases.ByeATourTest" />
        </classes>
    </test> <!-- Test -->



</suite> <!-- Suite -->